<h1>Todo</h1>
<div class="container">
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">
            Enter valid description
        </div>
        <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">
            Enter valid target date
        </div>
        <fieldset class="form-group">
            <label>Description</label>
            <input class="form-control" #description="ngModel" [(ngModel)]="todo.description" type="text" name="description" required="required" minlength="3">
        </fieldset>
        <fieldset class="form-group">
            <label>Target date</label>
            <input class="form-control" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" type="date" name="targetDate" required="required">
        </fieldset>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>